{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ea soluta in rem nam veritatis eaque atque, quasi corrupti expedita quisquam natus rerum unde dolor distinctio, similique porro fuga? Cupiditate!</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea quam possimus repellat obcaecati amet ipsam, culpa voluptatum doloremque quasi totam deserunt aliquid quis praesentium impedit quod omnis sint distinctio explicabo neque tenetur a ut temporibus vel. Odit consectetur dolorum velit?</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

{% endblock%}